<div class="container-full">
    <div class="row">
        <div class="col">
            <button class="btn btn-danger" (click)="signOut()"> Cerrar Sesión</button>
        </div>
        <div class="col info">
            <h1><b>Lavado ecológico para tu auto</b></h1>
            <p>Somos una propuesta ecológica e innovadora de lavado de autos, nuestro principal objetivo es desarrollar una operación de calidad con la mayor comodidad de un servicio V.I.P. Trabajamos con personal altamente calificado y brindamos un servicio de spa para consentir y cuidar su auto con todas las medidas de seguridad para garantizar el cuidado de su vehículo. En Car Wash Movil encontrarás innovación, calidad y confort en el lavado ecológico de su auto en la ciudad de Medellín.</p>
            <button class="btn btn-dark" routerLink="/form">Ingresar Lavado</button>
        </div>
        <div class="col">

        </div>
    </div>
</div>